/* * { border: 1px solid red; } */
.container{

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: grid;
}





@media (min-width: 1140px) {
  .container {
    width: 1140px;
  }
  .pageContainer{
    width:100vw;
    
  }
  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  .col-desktop-1 {
    grid-column: span 1;
  }
  .col-desktop-2 {
    grid-column: span 2;
  }
  .col-desktop-3 {
    grid-column: span 3;
  }
  .col-desktop-4 {
    grid-column: span 4;
  }
  .col-desktop-5 {
    grid-column: span 5;
  }
  .col-desktop-6 {
    grid-column: span 6;
  }
  .col-desktop-7 {
    grid-column: span 7;
  }
  .col-desktop-8 {
    grid-column: span 8;
  }
  .col-desktop-9 {
    grid-column: span 9;
  }
  .col-desktop-10 {
    grid-column: span 10;
  }
  .col-desktop-11 {
    grid-column: span 11;
  }
  .col-desktop-12 {
    grid-column: span 12;
  }

}
@media (max-width: 1139px) {
  .container {
    width: 798px;
  }
  .pageContainer{
    width:100vw;
    
  }

  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .col-tablet-1 {
    grid-column: span 1;
  }
  .col-tablet-2 {
    grid-column: span 2;
  }
  .col-tablet-3 {
    grid-column: span 3;
  }
  .col-tablet-4 {
    grid-column: span 4;
  }
  .col-tablet-5 {
    grid-column: span 5;
  }
  .col-tablet-6 {
    grid-column: span 6;
  }
  .col-tablet-7 {
    grid-column: span 7;
  }
  .col-tablet-8 {
    grid-column: span 8;
  }
}
@media (max-width: 797px) {
  .container {
    width:100vw;

  }
  .container.Projects{
    padding:5px;
  }
  .container.about{
    padding:15px;
  }
  .pageContainer{
    width:100vw
  }
  .heroText{
    margin-left:15px;
  }

  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 90vw;

  }
  
  .col-mobile-1 {
    grid-column: span 1;
  }
  .col-mobile-2 {
    grid-column: span 2;
  }
  .col-mobile-3 {
    grid-column: span 3;
  }
  .col-mobile-4 {
    grid-column: span 4;
  }
}





